.main {
  stroke: darkblue;
  stroke-width: 1px;
  fill: #ddd;
}

.forobj {
  fill: transparent;
}

.text {
  height: auto;
  text-align: center;
  color: darkblue;
}

.select {
  stroke: red;
  stroke-width: 1px;
  fill: transparent;
}

.svg {
  font-size: 3px;
}
